NEXT_PUBLIC_APP_VERSION=0.1.0
NEXT_PUBLIC_APP_CREDITS=WCC x PHCore Solutions
NEXT_PUBLIC_APP_CONTACT=flightops@example.edu

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_PROJECT_ID=
SUPABASE_SERVICE_ROLE_KEY=
